language: rust
sudo: false
cache:
- apt
- cargo
rust:
- stable
- beta
- nightly
matrix:
  allow_failures:
  - rust: nightly
notifications:
  slack:
    secure: o6TxnmLVxjJBLsuOqaexMZERMSKXcVyJQsnLLzJnGACbQEA0VZpMKoTErK36MEI6jFUwy/jQeGm6oiYyE2okvnWLY9gpv2iZ1smg2lbmwOcCveIUDDTsOH5JWesGFtTaACRmOgotNc5cvhRH+2wl0b0hOkKbAlFNbn4uG3NUHQXIaC7pElrmbyoXHBjEyOJ5tClf9Fjxf2kyLk++XncvgNsBz8rE7Mg39R5TDQiLG4W5VnqbqfM+dkPgbQE0qeeMc3mgYF9R/1TOZQHP1PbRmchjootu34wOVcpLhmL3zb7zOlMadBVTk3jaPlf01J0DGDB+AXskpUQ3rR9eaWHkF3gBqvFtZwsSYLCq6cNOYyKrgxpS8/NetaLwaQBYkI2KRQ1cgciMZD764bxPYZngCcs73j6y23El/+Vp8D+4p0dmgb//lwE2nrYgAcUIgQYTVNrDahmDuItWnwkKJgZ5n2KiF4YrayQ4kw7UBkuOjV4mj4c+v0Iq8EN/fpPHFG6ZXBDhWFuejYBVz2vhMQzLA1NM2DucSdXrt6EwPgGk1qQCNzrJptBfMnpANameg3ryc6E159PZ9yImDFtLCrchVEAshT6Jqakd69xy3iqE7WQ0WJ/R8o2FcfRqZ0k877GHla8StgDTSFSBJxGKDEN/YQsperYjLWLUnffSTZlmz7A=
