# -*- mode:toml; coding:utf-8-unix; -*-
# =============================================================================
[package]
edition                 = "2021"
name                    = "elicit"
version                 = "0.11.0-alpha.1"
authors                 = ["hanepjiv <hanepjiv@gmail.com>"]
license                 = "MIT OR Apache-2.0"
keywords                = ["utility"]
description             = "SmartPointer-like structure for polymorphism."
readme                  = "README.md"
documentation           = "https://docs.rs/elicit/"
repository              = "https://github.com/hanepjiv/elicit-rs.git"
include                 = [ "Cargo.toml",
                            "src/**/*.rs",
                            "README.md",
                            "LICENSE-APACHE-2.0",
                            "LICENSE-MIT"
                            ]
publish                 = false
# =============================================================================
[workspace.package]
authors                 = ["hanepjiv <hanepjiv@gmail.com>"]
license                 = "MIT OR Apache-2.0"
documentation           = "https://docs.rs/elicit/"
repository              = "https://github.com/hanepjiv/elicit-rs.git"
# -----------------------------------------------------------------------------
[workspace]
exclude                 = [ "examples/",
                            ]
members                 = [ "elicit_macro",
                            ]
# =============================================================================
[features]
default                 = []
parking_lot             = [ "elicit_macro/parking_lot", "dep:parking_lot" ]
# =============================================================================
[dependencies]

# -----------------------------------------------------------------------------
[dependencies.elicit_macro]
default-features        = false
version                 = "^0.2"
path                    = "./elicit_macro"
# -----------------------------------------------------------------------------
[dependencies.parking_lot]
optional                = true

default-features        = false
version                 = "^0.12"
