# -*- mode:toml; coding:utf-8-unix; -*-
# =============================================================================
[package]
name            = "elicit"
version         = "0.5.1"
authors         = ["hanepjiv <hanepjiv@gmail.com>"]
license         = "MIT/Apache-2.0"
keywords        = ["core"]
description     = ""
readme          = "README.md"
documentation   = "https://github.com/hanepjiv/elicit-rs/wiki"
homepage        = "https://github.com/hanepjiv/elicit-rs"
repository      = "https://github.com/hanepjiv/elicit-rs.git"
# =============================================================================
[dependencies]
