# -*- mode:toml; coding:utf-8-unix; -*-
[package]
name            = "elicit"
version         = "0.2.0"
authors         = ["hanepjiv <hanepjiv@gmail.com>"]
license         = "MIT/Apache-2.0"
readme          = "README.md"
repository      = "https://github.com/hanepjiv/elicit-rs.git"

[dependencies]
