# -*- mode:toml; coding:utf-8-unix; -*-
# =============================================================================
[package]
edition                 = "2021"
name                    = "elicit"
version                 = "0.7.12-alpha.0"
authors                 = ["hanepjiv <hanepjiv@gmail.com>"]
license                 = "MIT OR Apache-2.0"
keywords                = ["utility"]
description             = "SmartPointer-like structure for polymorphism."
readme                  = "README.md"
documentation           = "https://docs.rs/elicit/"
repository              = "https://github.com/hanepjiv/elicit-rs.git"
include                 = [ "Cargo.toml",
                            "build.rs",
                            "src/**/*.rs",
                            "crates-io.md",
                            "README.md",
                            "LICENSE-APACHE-2.0",
                            "LICENSE-MIT"
                            ]
publish                 = false
# =============================================================================
[dependencies]
