# -*- mode:toml; coding:utf-8-unix; -*-
# =============================================================================
[package]
name                    = "elicit"
version                 = "0.7.5-alpha.1"
authors                 = ["hanepjiv <hanepjiv@gmail.com>"]
license                 = "MIT/Apache-2.0"
keywords                = ["core"]
description             = "SmartPointer-like structure for polymorphism."
readme                  = "README.md"
documentation           = "https://github.com/hanepjiv/elicit-rs/wiki"
homepage                = "https://github.com/hanepjiv/elicit-rs"
repository              = "https://github.com/hanepjiv/elicit-rs.git"
publish                 = false
# =============================================================================
[dependencies]
