name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}" >> $GITHUB_ENV

      - name: Restore cached rust-toolchain
        id: cache-rust-toolchain-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/
            ~/.rustup/
          key: ${{ runner.os }}-rust-toolchain

      - name: Setup Rust Toolchain for GitHub CI
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          toolchain: 'stable,beta,nightly'
          components: 'clippy'
          cache: false

      - name: Save cached rust-toolchain
        id: cache-rust-toolchain-save
        uses: actions/cache/save@v4
        with:
          save-always: true
          path: |
            ~/.cargo/
            ~/.rustup/
          key: ${{ runner.os }}-rust-toolchain

      - uses: actions/checkout@v4

      - name: Restore cached target
        id: cache-target-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ env.REPOSITORY_NAME }}

      - run: cargo update

      - run: cargo +stable test --verbose
      - run: cargo +stable clippy --verbose
      - run: cargo +stable test --verbose --features parking_lot
      - run: cargo +stable clippy --verbose --features parking_lot

      - run: cargo +beta test --verbose
      - run: cargo +beta clippy --verbose
      - run: cargo +beta test --verbose --features parking_lot
      - run: cargo +beta clippy --verbose --features parking_lot

      - run: cargo +nightly test --verbose
      - run: cargo +nightly clippy --verbose
      - run: cargo +nightly test --verbose --features parking_lot
      - run: cargo +nightly clippy --verbose --features parking_lot

      - name: Save cached target
        id: cache-target-save
        uses: actions/cache/save@v4
        with:
          save-always: true
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ env.REPOSITORY_NAME }}
